@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Coming+Soon&family=Fira+Code:wght@600&family=Poppins:wght@200;300;500&display=swap');

* {
  --sp-layout-height: 94vh;
}

:root {
  --color-solid-resize-bar: #454950;
  --color-solid-resize-bar-handle: rgba(255, 255, 255, 0.2);
  --green: rgb(151, 199, 132);
  --orange: rgb(243, 164, 78);
  --red: rgb(194, 24, 7);
  --lightBlue: #19e4ff;
  --divider: rgba(255, 255, 255, 0.2);
  --side-nav-width: 70px;
  --top-nav-height: 50px;
}

/* layout */

.main {
  min-height: calc(100vh - 64px);
  margin-top: 64px;
  background-image: linear-gradient(
    150deg,
    black,
    rgb(0, 0, 0),
    rgb(19, 18, 18)
  );
  display: flex;
  flex-direction: column;
}

.fit-wrapper {
  padding: 40px 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 765px;
  margin: 0 auto;
  flex-grow: 1;
}

/* Navigation */

.app-bar-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 25px;
}

.app-bar-links {
  display: flex;
  gap: 25px;
}

.top-nav {
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  display: none !important;
}

.nav-link {
  text-decoration: none;
}

.active {
  color: var(--lightBlue) !important;
}

.nav-link:hover {
  color: var(--lightBlue);
}

.not-active {
  color: lightgrey;
}

.side-nav-wrapper {
  width: var(--side-nav-width);
  min-width: var(--side-nav-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 0;
}

.drawer-links-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

/* Editor */

.editor-layout {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
}

.sp-wrapper {
  height: 100% !important;
  max-height: 100% !important;
}

.sp-layout {
  height: 100% !important;
  max-height: 100% !important;
}

.sp-test-header-button[data-active='true'] {
  color: var(--color-solid-resize-bar) !important;
}

.editor-main {
  display: flex;
  height: 100%;
}

.editor-container {
  min-height: calc(100vh - 135px);
  max-height: calc(100vh - 135px);
  flex-grow: 1;
  padding-right: 20px;
  padding-bottom: 10px;
}

/* Misc */

.ResizeHandleOuter {
  cursor: col-resize;
  width: 5px;
  position: relative;
  --background-color: black;
}

.ResizeHandleOuter[data-resize-handle-active] {
  --background-color: var(--lightBlue);
}

.ResizeHandleInner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  transition: background-color 0.3s linear;
}

.HorizontalResizeHandleOuter {
  cursor: col-resize;
  height: 5px;
  min-height: 3px;
  position: relative;
  --background-color: black;
}

.HorizontalResizeHandleOuter[data-resize-handle-active] {
  --background-color: var(--lightBlue);
}

/* GAME */

.gameEditor-container {
  width: 340px;
  margin: 0 auto;
  color: white;
  border: solid rgb(57, 56, 56) 1px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.code-container {
  position: relative;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.true-or-false-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output-container {
  color: #fff;
  /* height: 15ma0px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.score-circles-container {
  display: flex;
  gap: 10px;
}

.score-circle {
  height: 20px;
  width: 20px;
  border: 1px solid rgba(128, 128, 128, 0.44);
  border-radius: 50%;
}

.correct-score-circle {
  background-color: var(--green);
}

.incorrect-score-circle {
  background-color: var(--red);
}

.guess-form {
  width: 100%;
}

.radio {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.shorts-container {
  height: 600px;
  max-width: 450px;
}

.shorts-layout {
  display: flex;
  flex-direction: column;
  height: 500px;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 20px;
}

.shorts-editor {
  height: 400px !important;
}

/* ITEMS */

.item-container {
  border: solid grey 1px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.hidden-item-wrapper {
  position: relative;
}

.hidden-item-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.419);
}

.item-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.item-text-wrapper {
  display: flex;
  gap: 15px;
  align-items: flex-end;
}

.marketing-section {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.marketing-button {
  margin: 20px 0 !important;
  width: 300px;
}

.footer {
  justify-self: flex-end;
}

.footer-wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legal-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 765px) {
  .main {
    margin-top: 56px;
  }
  .fit-wrapper {
    width: 90%;
    padding-top: 25px;
  }
  .app-bar-links {
    display: none;
  }

  .menu-icon {
    display: inherit !important;
  }

  .display-name {
    display: none !important;
  }
}
