.ResizeHandleOuter {
  flex: 0.1;
  position: relative;
  border-left: 1px solid var(--color-solid-resize-bar);
  background-color: #1e1e1e;
}

.ResizeHandleOuter[data-resize-handle-active] {
  --background-color: var(--color-solid-resize-bar-handle);
  border-left: 1px solid #19e4ff;
}

.ResizeHandleInner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: outline 2s linear;
  /* outline: 0.5px solid var(--color-solid-resize-bar); */
}
