.ResizeHandleOuter {
  flex: 0 0 3px;
  position: relative;
  outline: none;
  --background-color: transparent;
  border-right: 1px solid var(--color-solid-resize-bar);
}

.ResizeHandleOuter[data-resize-handle-active] {
  --background-color: var(--color-solid-resize-bar-handle);
  border-right: 2px solid #19e4ff;
}

.ResizeHandleInner {
  position: absolute;
  top: 0.25em;
  bottom: 0.25em;
  left: 0.25em;
  right: 0.25em;
  border-radius: 0.25em;
  /* background-color: var(--background-color); */
  transition: border-right 0.2s linear;
}
