@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&family=Coming+Soon&family=Fira+Code:wght@600&family=Poppins:wght@200;300;500&display=swap');

:root {
  --color-background-code: rgba(0, 0, 0, 0.35);
  --color-background-default: #081120;
  --color-code: #c67bff;
  --color-default: #ffffff;
  --color-horizontal-rule: #454950;
  --color-link: #dcadff;
  --color-panel-background: #192230;
  --color-panel-background-alternate: #202124;
  --color-solid-resize-bar: #454950;
  --color-solid-resize-bar-handle: rgba(255, 255, 255, 0.2);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.panel-content.file-explorer-panel > div {
  background-color: #1c1c1c !important;
}

.bar-divider {
  /* position: relative; */
  width: 1px;
  height: 20px;
  background-color: var(--color-solid-resize-bar);
  margin: 0 20px;
}
