@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Coming+Soon&family=Fira+Code:wght@600&family=Poppins:wght@200;300;500&display=swap');

:root {
  --color-solid-resize-bar: #454950;
  --color-solid-resize-bar-handle: rgba(255, 255, 255, 0.2);
  --green: rgb(151, 199, 132);
  --orange: rgb(243, 164, 78);
  --red: rgb(194, 24, 7);
  --lightBlue: #19e4ff;
  --divider: rgba(255, 255, 255, 0.2);
  --side-nav-width: 70px;
  --top-nav-height: 50px;
  --sp-layout-height: 94vh;
}

/* layout */

#root {
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: calc(100vh - 64px);
  margin-top: 64px;
}

.main > :nth-child(2) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.fit-wrapper {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 765px;
  margin: 0 auto;
  padding-bottom: 35px;
}

/* Navigation */

.active {
  color: var(--lightBlue) !important;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: var(--lightBlue);
}

.not-active {
  color: lightgrey;
}

.top-nav {
  height: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  justify-content: space-between;
}

.top-nav-auth-wrapper {
  display: flex;
  gap: 20px;
}

.side-nav-wrapper {
  width: var(--side-nav-width);
  min-width: var(--side-nav-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  height: 100%;
}

.drawer-links-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.app-bar-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 25px;
}

.app-bar-links {
  display: flex;
  gap: 25px;
}

/* Editor */

.sp-wrapper {
  height: 100% !important;
  max-height: 100% !important;
}

.sp-layout {
  height: 100% !important;
  max-height: 100% !important;
}

.sp-test-header-button[data-active='true'] {
  color: var(--color-solid-resize-bar) !important;
}

.editor-main {
  display: flex;
  height: 100%;
}

.editor-container {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.025);
  min-height: calc(100vh - 135px);
  max-height: calc(100vh - 135px);
  flex-grow: 1;
  padding-right: 20px;
  padding-bottom: 10px;
}

/* Misc */

.ResizeHandleOuter {
  cursor: col-resize;
  width: 5px;
  position: relative;
  --background-color: black;
}

.ResizeHandleOuter[data-resize-handle-active] {
  --background-color: var(--lightBlue);
}

.ResizeHandleInner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  transition: background-color 0.3s linear;
}

.HorizontalResizeHandleOuter {
  cursor: col-resize;
  height: 5px;
  min-height: 3px;
  position: relative;
  --background-color: black;
}

.HorizontalResizeHandleOuter[data-resize-handle-active] {
  --background-color: var(--lightBlue);
}

/* game */

.gameEditor-container {
  width: 340px;
  margin: 0 auto;
  background-color: #151515;
  color: white;
  padding: 30px;
  border-radius: 10px;
}

.code-container {
  position: relative;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
  font-size: large;
}

.output-container {
  color: #fff;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.true-or-false-radio {
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: small;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  align-items: center;
}

.radio {
  display: flex;
  gap: 10px;
  align-items: center;
}

.score-circle {
  height: 20px;
  width: 20px;
  border: 1px solid grey;
  margin-bottom: 10px;
  border-radius: 50%;
}

.score-circles-container {
  display: flex;
  gap: 10px;
}

.correct-score-circle {
  background-color: green;
}

.incorrect-score-circle {
  background-color: red;
}

.layout-container {
  margin: 0 auto;
  width: 50%;
}

.shorts-container {
  height: 600px;
  width: 450px;
}

.shorts-layout {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.shorts-editor {
  height: 400px !important;
}

.item-container {
  border: solid grey 1px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

@media screen and (max-width: 765px) {
  .fit-wrapper {
    width: 90%;
    padding-top: 25px;
  }
  .app-bar-links {
    display: none;
  }
}
