@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&family=Coming+Soon&family=Fira+Code:wght@600&family=Poppins:wght@200;300;500&display=swap');

:root {
  --color-background-code: rgba(0, 0, 0, 0.35);
  --color-background-default: #081120;
  --color-code: #c67bff;
  --color-default: #ffffff;
  --color-horizontal-rule: #454950;
  --color-link: #dcadff;
  --color-panel-background: #192230;
  --color-panel-background-alternate: #202124;
  --color-solid-resize-bar: #454950;
  --color-solid-resize-bar-handle: rgba(255, 255, 255, 0.2);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

* {
  --sp-layout-height: 94vh;
}

.file-bg > div > div {
  background-color: transparent !important;
}

.horz {
  /* box-shadow: 0px -0px 3px rgba(0, 0, 0, 1); */
  border-top: 1px solid var(--color-solid-resize-bar);
}

.ResizeHandleOuter {
  flex: 0.3;
  position: relative;
  border-left: 1px solid var(--color-solid-resize-bar);
}

.ResizeHandleOuter[data-resize-handle-active] {
  border-left: 1px solid #19e4ff7e;
}

.ResizeHandleInner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: outline 2s linear;
}

.bar-divider {
  /* position: relative; */
  width: 1px;
  height: 20px;
  background-color: var(--color-solid-resize-bar);
  margin: 0 20px;
}
